* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.form {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: cornsilk;
}

.input {
    padding: 10px;
    background-color: white;
    border: 1px solid black;
}

.button {
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}